body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top Navigation Bar */
.weather_logo {
    text-decoration: none;
    border: 1px solid black;
    background-color: white;
    color: rgb(5, 5, 65);
    margin-left: 5vw;
    margin-right: 10%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    cursor: pointer;
    text-align: left;
    line-height: 15px;
    padding: 20px 5px 5px 5px;
}

input[type="search"] {
    padding: 20px 5px 5px 5px;
    margin: 0;
    width: 30vw;
    align-self: center;
    border-radius: 5;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

nav {
    background-color: rgb(5, 5, 65);
    margin: 0;
    padding: 0;
    display: flex;
}

.go_premium,
.sign_up,
.hamburger_menu,
.change_units {
    float: right;
    cursor: pointer;
    align-self: center;
}

.sign_up {
    background-color: rgb(5, 5, 65);
    color: white;
    font-weight: 550;
    border: 1px solid white;
    border-radius: 5px;
    width: 5vw;
    height: auto;
    padding: 2px;
}

.go_premium {
    color: rgb(5, 5, 65);
    background-color: white;
    border-radius: 15%;
    width: 6.5vw;
    padding: 2px;
}

/* Weather Summary Banner */
.weather_summary {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin: 5% 20% 5% 15%;
    padding: 1%;
}

.temperature {
    font-size: 50px;
    font-weight: normal;
}

.location_time {
    border-bottom: 1px;
    justify-content: space-between;
}

.location_time h1 {
    font-weight: normal;
}

.weather_image {
    float: right;
}

.current_conditions_image {
    width: 200px;
    align-items: right;
    height: auto;
}