<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather Tracker</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <header>
            <nav class="first_nav">
                <button class="weather_logo">The<br>Weather<br>Channel</button>
                <input type="search" name="query" placeholder="Search City or Zip Code">
                <button class="change_units">Change Region or Units</button>
                <button class="go_premium">Go Premium</button>
                <button class="sign_up">Sign Up</button>
                <button class="hamburger_menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
            </nav>
        </header>
        <main>
            <section class="weather_summary">
                <div class="current_conditions">
                    <h1>Berkeley, CA <span>As of 2:25 pm PST</span></h1>           
                    <h1 class="temperature">55°</h1>
                    <p class="conditions">Partly Cloudy</p>
                    <p class="high-low">Day 55° • Night 44°</p>
                </div>
                <img class="current_conditions_image" src="/static/images/partly_cloudy.webp" alt="Partly Cloudy Icon">
            </section>
        </main>
        <footer>
            <p>Links i guess or head back to top of website</p>
        </footer>
    </body>
</html>