<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather Tracker</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <header>
            <nav class="first_nav">
                <button class="weather_logo">The<br>Weather<br>Channel</button>
                <input type="search" name="query" placeholder="Search City or Zip Code">
                <button class="change_units">Change Region or Units</button>
                <button class="go_premium">Go Premium</button>
                <button class="sign_up">Sign Up</button>
                <button class="hamburger_menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
            </nav>
        </header>
        <main>
            <p>Main content</p>
        </main>
        <footer>
            <p>Links i guess or head back to top of website</p>
        </footer>
    </body>
</html>